@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.alfa {
  font-family: "Alfa Slab One", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 3;
  right: 0;
  /* background: #ffffff; */
  height: 70px;
  width: 70px;
}

.nav-links{
  min-height: clamp(35vh, 40em, 40vh);
}

.nav-links.active{
  top: 3rem;
}

@media only screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 27px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #000;
  background-color: #416ba9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline.active {

/* text-decoration: underline; */
border-bottom: 2px solid #416ba9;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  width: clamp(2rem, 4.5vw, 4.5rem);
}

.home-left-side {
  padding: clamp(1rem, 5vw, 6.5rem);
  margin-top: clamp(0.5rem, 4vw, 4rem);
  padding-top: clamp(0rem, 1vw, 1rem);
}

.home-left-side > h1 {
  font-size: clamp(1.9rem, 10vw, 10rem);
}

.home-left-side h2 {
  font-size: clamp(0.9rem, 4vw, 4rem);
}

.home-left-side p {
  font-size: clamp(0.5rem, 1.6vw, 1.6rem);
}

.home-left-side button {
  padding-inline: clamp(1rem, 3vw, 3rem);
  padding-block: clamp(0.3rem, 1vw, 1rem);
  font-size: clamp(0.6rem, 1.5vw, 1.5rem);
  border-radius: clamp(0.2rem, 0.5vw, 0.5rem);
}

.home-right-side {
  right: clamp(1rem, 6vw, 6rem);
  width: clamp(8rem, 30vw, 30rem);
}

.downloads-now {
  padding-inline: clamp(0.6rem, 3vw, 3rem);
}

.downloads-now-left {
  font-size: clamp(0.5rem, 1.1vw, 1.1rem);
  /* padding-left: clamp(0.2rem, 1.5vw, 1.5rem); */
  padding-right: clamp(1rem, 3vw, 4rem);
}

.downloads-now-right {
  font-size: clamp(0.5rem, 1.1vw, 1.1rem);
}

.downloads-now-right img:first-of-type {
  width: clamp(4rem, 12vw, 12rem);
}

.downloads-now-right img:last-of-type {
  width: clamp(4.6rem, 13.5vw, 13.5rem);
}

.store-img {
  gap: clamp(0.25rem, 1vw, 1rem);
}

.downloads-now {
  margin-bottom: clamp(1.5rem, 3vw, 3rem);
}

.why-us {
  padding-inline: clamp(0.6rem, 3vw, 3rem);
}

.build-app {
  padding-inline: clamp(0.6rem, 3vw, 3rem);
  margin-block: clamp(1rem, 5vw, 5rem);
}

.why-us h2 {
  font-size: clamp(0.8rem, 2vw, 2rem);
}

.why-us p {
  font-size: clamp(0.5rem, 1.1vw, 1.1rem);
}

.build-app p,
h4 {
  font-size: clamp(0.5rem, 1.1vw, 1.1rem);
}

.about-img {
  width: clamp(12rem, 30vw, 30rem);
}

.explore-us {
  padding-top: clamp(1rem, 2vw, 2rem);
  /* height: clamp(12rem, 16vw, 16rem); */
}

.explore-us h3 {
  font-size: clamp(0.8rem, 2.5vw, 2.5rem);
  /* margin-bottom: clamp(-0.8rem, -1.5vw, -1.5rem); */
}

.explore-us img {
  width: clamp(13rem, 63vw, 63rem);
  /* margin-inline: auto; */
  margin-top: clamp(-1rem, -5vw, -5rem);
}

.contactUs{
  padding-inline: clamp(1rem, 3.5vw, 3.5rem);
  padding-block: clamp(0.6rem, 1.5vw, 1.5rem);

}

.contactUs p{
  font-size: clamp(0.5rem, 1.1vw, 1.1rem);
}

.social-icons{
  gap: clamp(.25rem, 1vw, 1rem);
}

.social-icons img{
  width: clamp(1rem, 3vw, 3rem);
}

@media (min-width: 1629px) {
  .home-right-side {
    width: 33rem;
  }
}

@media (min-width: 640px) {
  .build-title {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
}

@media (min-width: 1024px) {
  #aboutUs {
    padding-bottom: clamp(5rem, 7.5vw, 7.5rem);
  }

  .downloads-now {
    padding-left: clamp(2.8rem, 3rem, 3rem);
  }

  .home-right-side {
    width: clamp(23.5rem, 35.5vw, 35.5rem);
  }

  .why-us {
    margin-block: clamp(0.5rem, 2vw, 2rem);
  }
}

@media (max-width: 1024px) {
  .downloads-now {
    margin-top: clamp(1.5rem, 3vw, 3rem);
  }

  .downloads-now-left {
    padding-left: clamp(0.3rem, 2vw, 2rem);
  }

  .why-us p {
    padding-left: clamp(0.3rem, 2vw, 2rem);
  }

  .build-app p,
  h4 {
    padding-left: clamp(0.3rem, 2vw, 2rem);
  }
}

/* new */
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img {
    width: 100%;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
} */
